<main class="main" style="max-width: 1200px; padding: 10px; margin: 0 auto;">
  <div class="content">
    <div class="head">
    <h1>Інструкція із підключення Закладу Освіти до Cisco Umbrella</h1>
    <p>
      Вся інформація є <a href="https://safe-hromada.com.ua/ca-education/">
      тут
    </a>
    </p>
    <p>ВАША IP АДРЕСА <b [class]="{'load': yourIp}">{{ yourIp }}</b></p>

    @if (!this.yourIp) {
      <p>
        Щоб дізннатись свою поточну публічну ip адресу, перейдіть на сайт
        <a href="https://www.whatismyip.com/" target="_blank">👉Whatismyip</a>
      </p>
    }


    <div class="divider"></div>
    <div class="pill-group">
      <button [class]="{'active': selectType == 'static'}" mat-button (click)="selectType = 'static'">Статична</button>
      <button [class]="{'active': selectType == 'dynamic'}" mat-button (click)="selectType = 'dynamic'">Динамічна
      </button>
    </div>
    </div>
    @if (this.selectType == 'dynamic') {
      <app-dynamic-ip></app-dynamic-ip>
    }
    @if (this.selectType == 'static') {
      <app-static></app-static>
    }

  </div>
</main>


<router-outlet/>
